
<div id="share-box">
<h5>Share this:</h5>

<a id="f" href="https://www.facebook.com/sharer/sharer.php?u={{site.baseurl}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-facebook-official fa"></i><span> facebook</span></a>

<a id="t" href="https://twitter.com/intent/tweet?text=&url={{site.baseurl}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fa fa-twitter fa"></i><span> twitter</span></a>

<a id="g" href="https://plus.google.com/share?url={{site.baseurl}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-google-plus fa"></i><span> google</span></a>

<a id="r" href="http://www.reddit.com/submit?url={{site.baseurl}}{{page.url}}" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-reddit fa"></i><span> reddit</span></a>

<a id="l" href="https://www.linkedin.com/shareArticle?mini=true&url={{site.url}}{{page.url}}&title=&summary=&source=webjeda" onclick="window.open(this.href, 'mywin',
'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fa fa-linkedin fa"></i><span> linkedin</span></a>

<a id="e" href="mailto:?subject=&amp;body=Check out this site {{site.baseurl}}{{page.url}}"><i class="fa fa-envelope fa"></i><span> email</span></a>
</div>
